.App {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.header {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding-top: 1rem;
}


.navbar-custom{
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: #afafaf;
    color: black;
    z-index: 3;
    font-size: 20px;
    width: 50%; 
    height: 200px;
    padding-left: 1rem;
    position:relative;
    top: -25rem;
    left: 50%;

}

.heroImage {
    z-index: -1;
    width: 100%;
}

.newArrivalCard {
    border-radius: 0%;
    text-underline-offset: 15px;
}

.nav-item .dropdown-menu {
  background: #000000;
}

.nav-item .dropdown-item {
  color: #ffffff;
}

.nav-item .dropdown-item:hover {
  background: #424141;
}
