.App {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.header {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding-top: 1rem;
}

.Container {
    max-width: 100%;
    padding: 0%
}

.navbar-custom{
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: white;
    color: black;
    z-index: 1;
}

.image {
    z-index: 0;
    width: 100vw;
}